# Dependency directories
node_modules/

# Local env files
.env
.env.local
.env.*.local

# SQLite database files
*.sqlite
*.sqlite3
*.db
*.db-journal
*.db-wal
*.db-shm

# OS-specific files
.DS_Store
Thumbs.db
